<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="bg-beige text-black">
  {{ "<!--" | safeHTML }}
  {{ "" | safeHTML }}
  {{ "Théâtres des collectivités" | safeHTML }}
  {{ "| Site web par Louis-Olivier Brassard" | safeHTML }}
  {{ "| Typos Double + Ilisarniq par Coppers and Brasses" | safeHTML }}
  {{ "| Git: https://framagit.org/loupbrun/theatresdescollectivites.org/" | safeHTML }}
  {{ "" | safeHTML }}
  {{ "-->" | safeHTML }}
  {{- partial "head.html" . -}}
  <body class="flex flex-col min-h-screen font-body font-light">
    {{ with .Params.avertissement }}
    <header class="text-center bg-black text-white flex flex-col sm:flex-row justify-between align-stretch" id="banner-avertissement">
      <button id="avertissement-close" class="w-100 sm:w-auto text-center p-4 flex items-center justify-center order-last" title="{{ i18n "Close" }}">
        <svg class="fill-current h-4 w-4 " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Fermer</title>
          <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                   transform="rotate(45 10 10)" />
        </svg>

        <span class="sr-only">
          {{ i18n "Close" }}
        </span>
      </button>
      <div class="p-4 pb-0 sm:pb-4 marquee3k overflow-hidden"
           data-speed="1.5"
           data-pausable="true">
        <div class="mr-6">
          {{ . | markdownify }}
        </div>
      </div>
    </header>
    {{ end }}

    <div class="relative page-wrap">
      {{- partial "header.html" . -}}
      {{- block "main" . }}
      <main class="flex-1 px-6 md:px-12 lg:px-24 mt-4 sm:mt-16">
        {{ .Content }}
      </main>
      {{- end }}
      {{- partial "footer.html" . -}}
    </div>

    <script id="espacefine">
      {{- (resources.Get "/js/espacefine.js").Content | safeJS -}}
    </script>
    <script>
      {{- (resources.Get "/js/marquee3k.min.js").Content | safeJS -}}
    </script>
    <script>
      // espaceFine
      document.addEventListener('DOMContentLoaded', function () {
        espaceFine();

        // Markee3k
        // pour faire défiler du texte
        Marquee3k.init();

        document.addEventListener('scroll', animateView, false);
      }, false);
    </script>
    <script>
      //Javascript to toggle the nav-menu
      document.getElementById('nav-open').onclick = function () {
        document.getElementById("nav-menu").classList.toggle("hidden");
        document.getElementById("nav-open").classList.toggle("hidden");
        document.getElementById("nav-close").classList.toggle("hidden");
      }
      document.getElementById('nav-close').onclick = function () {
        document.getElementById("nav-menu").classList.toggle("hidden");
        document.getElementById("nav-close").classList.toggle("hidden");
        document.getElementById("nav-open").classList.toggle("hidden");
      }

      var avertissementBtn = document.getElementById('avertissement-close');

      if (avertissementBtn) {
        avertissementBtn.onclick = function () {
          document.getElementById('banner-avertissement').classList.toggle('hidden');
        }
      }

      function animateView(ev) {
        // Update rotation based on scroll position
        
        var scrollTop = window.scrollY;
        var sizeDocY = document.documentElement.offsetHeight;

        var scrollOffset = scrollTop / (sizeDocY);

        // clamp values
        scrollOffset = scrollOffset < 0 ? 0 : scrollOffset;
        scrollOffset = scrollOffset > 1 ? 1 : scrollOffset;

        // update scroll position CSS var
        document.body.style.setProperty('--scrollY', scrollOffset);
      }

      function detectMobile() {
        if (navigator.userAgent.match(/Android/i)
        || navigator.userAgent.match(/webOS/i)
        || navigator.userAgent.match(/iPhone/i)
        || navigator.userAgent.match(/iPad/i)
        || navigator.userAgent.match(/iPod/i)
        || navigator.userAgent.match(/BlackBerry/i)
        || navigator.userAgent.match(/Windows Phone/i)
        ) {
          return true;
        } else {
          return false;
        }
      }
    </script>

  </body>
</html>
