{{ define "main" }}
<main class="flex-1 px-6 md:px-8 lg:px-10 pt-16 pb-20 mt-4 sm:mt-16 max-w-5xl mx-auto content">
  <h1 class="text-xl md:text-2xl mb-8">
    {{ .Title }}
  </h1>

  {{ range .Pages }}
  <section class="mb-16">
    <h1 class="text-4xl md:text-5xl lg:text-7xl">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h1>
    {{ partial "single/article.html" . }}
  </section>
  {{ end }}
</main>
{{ end }}