<footer class="w-full border-t border-black px-4 md:px-8 lg:px-10 py-8 pin-b text-lg md:text-2xl">
  {{ now | dateFormat "2006" }} {{ with .Site.Copyright }} – {{ . }} {{ end }}
  
  <span rel="credits" class="block mt-2">
    {{i18n "Website by" }} <a href="https://loupbrun.ca" rel="noreferrer" target="_blank" class="underline hover:no-underline">Louis-Olivier Brassard</a>.
  </span>
</footer>