<header class="w-full px-4 md:px-8 lg:px-10 py-2 text-black absolute top-0 left-0 z-10">    
  <nav class="flex items-center justify-between flex-wrap">
    <div class="block sm:hidden">
      <button id="nav-open" class="flex items-center text-black">
        <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
      <button id="nav-close" class="hidden flex items-center text-black">
        <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>{{ i18n "Menu Close" }}</title>
          <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                   transform="rotate(45 10 10)" />
        </svg>
      </button>
    </div>

      <a href="{{ $.Site.BaseURL | relLangURL }}"
         class="block w-24 h-24 mr-4 block hidden sm:block animate-rotate-infinite"
         style="top: 1rem; left: 2rem; mix-blend-mode: difference"
         id="logo-circulaire">
        {{ partial "logo-circulaire.html" . }}
      </a>

    <ul id="nav-menu" class="w-full order-last sm:order-none flex-grow sm:flex items-center sm:w-auto hidden sm:block justify-start list-reset mt-4 sm:mt-0">
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL | relLangURL }}" class="inline-block py-2 sm:mr-4">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    
    {{- $siteLanguages := .Site.Languages -}}
    {{- if gt (len $siteLanguages) 1 -}}
    <ul id="nav-lang" class="w-auto flex sm:justify-end list-reset list-with-slash-separator">
      {{- $currentPage := $.Page -}}
      {{- $pageLang := $currentPage.Lang -}}
      {{- range $index, $homeLanguage := $.Site.Home.AllTranslations -}}
      {{- if gt $index 0 -}}
      <span role="separator" class="sm:block mx-2">/</span>
      {{- end -}}

      <li>
        <a href="{{ if $currentPage.IsTranslated  }}{{ range where $currentPage.Translations "Lang" $homeLanguage.Lang }}{{ .Permalink }}{{ end }}{{ else }}{{ $homeLanguage.Permalink }}{{ end }}" title="{{ $homeLanguage.Lang }}" class="inline-block uppercase {{ if eq $pageLang .Lang }}font-semibold border-b-2 border-black{{ end }}">
          {{- $homeLanguage.Lang -}}
        </a>
      </li>
      {{- end -}}
    </ul>
    {{- end -}}
  </nav>
</header>