<svg class="fill-current w-full h-full" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2; transform:rotate(calc(var(--scrollY) * 2160deg)); fill: #000000">
  <rect id="Plan-de-travail1" serif:id="Plan de travail1" x="0" y="0" width="128" height="128" style="fill:none;" />
  <g id="Plan-de-travail11" serif:id="Plan de travail1">
    <g>
      <path d="M31.386,40.838l0.771,-1.046l-6.375,-4.695l1.573,-2.135l-0.953,-0.702l-3.916,5.318l0.953,0.701l1.573,-2.135l6.374,4.694Z" style="fill-rule:nonzero;" />
      <path d="M35.856,35.383l1.001,-0.83l-2.573,-3.102l3.273,-2.714l2.572,3.103l1.001,-0.83l-5.809,-7.005l-1,0.829l2.489,3.003l-3.272,2.713l-2.49,-3.002l-1,0.83l5.808,7.005Z" style="fill-rule:nonzero;" />
      <path d="M42.597,18.879l0.945,-0.435l0.817,-2.452l-1.37,0.631l-0.392,2.256Zm2.043,9.994l5.313,-2.448l-0.495,-1.074l-4.133,1.904l-1.196,-2.598l3.624,-1.67l-0.478,-1.039l-3.625,1.67l-1.143,-2.479l4.074,-1.877l-0.495,-1.074l-5.254,2.42l3.808,8.265Z" style="fill-rule:nonzero;" />
      <path d="M52.354,15.394l0.995,-0.195l0.846,-1.159l1.221,0.754l0.995,-0.195l-1.842,-1.56l-1.098,0.215l-1.117,2.14Zm-0.068,10.134l1.327,-0.26l0.466,-2.489l3.457,-0.677l1.345,2.134l1.391,-0.272l-5.398,-8.282l-0.714,0.14l-1.874,9.706Zm2.001,-3.916l0.665,-3.574l1.951,3.062l-2.616,0.512Z" style="fill-rule:nonzero;" />
      <path d="M64.864,24.004l1.299,0.048l0.295,-7.911l2.65,0.099l0.044,-1.183l-6.6,-0.246l-0.044,1.183l2.651,0.098l-0.295,7.912Z" style="fill-rule:nonzero;" />
      <path d="M71.849,24.633l1.249,0.357l0.948,-3.312l1.574,0.45l1.066,3.888l1.475,0.422l-1.21,-4.091c1.284,0.002 2.33,-0.727 2.691,-1.989c0.465,-1.625 -0.467,-3.095 -2.229,-3.599l-3.063,-0.875l-2.501,8.749Zm5.113,-6.772c1.088,0.311 1.639,1.172 1.368,2.122c-0.272,0.95 -1.199,1.401 -2.286,1.09l-1.687,-0.482l0.918,-3.213l1.687,0.483Z" style="fill-rule:nonzero;" />
      <path d="M81.177,27.753l5.086,2.89l0.585,-1.029l-3.956,-2.248l1.413,-2.486l3.47,1.972l0.565,-0.995l-3.47,-1.972l1.349,-2.373l3.899,2.216l0.585,-1.029l-5.03,-2.858l-4.496,7.912Z" style="fill-rule:nonzero;" />
      <path d="M89.29,31.398c0.155,1.217 0.712,2.38 1.633,3.223c1.543,1.413 3.218,1.413 4.192,0.349c0.826,-0.901 0.901,-2.119 -0.307,-4.072c-0.853,-1.398 -0.865,-2.078 -0.434,-2.548c0.421,-0.46 1.291,-0.544 2.173,0.263c0.585,0.536 0.882,1.213 0.968,1.927l1.228,-0.128c-0.164,-0.995 -0.561,-1.87 -1.433,-2.669c-1.314,-1.203 -3.016,-1.211 -3.929,-0.214c-0.782,0.853 -0.904,2.045 0.304,3.998c0.922,1.496 0.876,2.142 0.42,2.641c-0.492,0.537 -1.347,0.547 -2.354,-0.375c-0.757,-0.694 -1.131,-1.653 -1.225,-2.55l-1.236,0.155Z" style="fill-rule:nonzero;" />
      <path d="M99.203,44.664l1.06,2.416c1.071,2.441 3.524,3.437 6,2.351c2.476,-1.086 3.404,-3.566 2.334,-6.006l-1.06,-2.417l-8.334,3.656Zm8.284,-0.824c0.794,1.81 0.066,3.549 -1.767,4.353c-1.833,0.804 -3.606,0.162 -4.399,-1.647l-0.512,-1.167l6.166,-2.705l0.512,1.166Z" style="fill-rule:nonzero;" />
      <path d="M103.003,54.623l0.944,5.773l1.167,-0.191l-0.734,-4.49l2.823,-0.462l0.644,3.939l1.129,-0.185l-0.644,-3.938l2.694,-0.441l0.724,4.427l1.167,-0.191l-0.933,-5.71l-8.981,1.469Z" style="fill-rule:nonzero;" />
      <path d="M105.259,63.259c-0.85,0.884 -1.404,2.048 -1.483,3.293c-0.13,2.089 0.921,3.393 2.361,3.483c1.22,0.076 2.215,-0.63 2.976,-2.796c0.552,-1.542 1.075,-1.978 1.711,-1.938c0.622,0.039 1.234,0.663 1.16,1.857c-0.05,0.791 -0.391,1.447 -0.892,1.963l0.87,0.875c0.672,-0.752 1.104,-1.611 1.178,-2.792c0.111,-1.777 -0.951,-3.107 -2.301,-3.192c-1.155,-0.072 -2.159,0.581 -2.92,2.748c-0.586,1.657 -1.117,2.027 -1.792,1.985c-0.727,-0.046 -1.271,-0.705 -1.186,-2.067c0.064,-1.025 0.576,-1.918 1.215,-2.555l-0.897,-0.864Z" style="fill-rule:nonzero;" />
      <path d="M105.45,80.781c-2.433,-1.238 -4.996,-0.529 -6.11,1.661c-0.666,1.31 -0.6,2.699 0.032,3.75l1.138,-0.631c-0.506,-0.783 -0.517,-1.736 -0.093,-2.571c0.766,-1.506 2.589,-1.935 4.42,-1.004c1.831,0.931 2.551,2.669 1.785,4.175c-0.413,0.811 -1.154,1.323 -2.085,1.375l0.148,1.286c1.262,-0.102 2.36,-0.827 3.015,-2.113c1.114,-2.19 0.183,-4.69 -2.25,-5.928Z" style="fill-rule:nonzero;" />
      <path d="M99.867,90.745c-2.045,-1.848 -4.668,-1.835 -6.289,-0.041c-1.621,1.795 -1.369,4.405 0.676,6.253c2.045,1.847 4.667,1.834 6.288,0.04c1.621,-1.794 1.369,-4.405 -0.675,-6.252Zm-0.907,1.003c1.524,1.377 1.792,3.213 0.685,4.438c-1.107,1.225 -2.969,1.154 -4.493,-0.223c-1.525,-1.377 -1.784,-3.223 -0.677,-4.448c1.107,-1.225 2.961,-1.144 4.485,0.233Z" style="fill-rule:nonzero;" />
      <path d="M88.098,96.032l-4.483,2.932l0.648,0.99l3.394,-2.22l4.334,6.625l1.088,-0.712l-4.981,-7.615Z" style="fill-rule:nonzero;" />
      <path d="M80.847,100.384l-4.998,1.923l0.425,1.104l3.785,-1.456l2.844,7.388l1.213,-0.467l-3.269,-8.492Z" style="fill-rule:nonzero;" />
      <path d="M72.826,103.131l-5.786,0.862l0.174,1.17l4.501,-0.67l0.421,2.829l-3.948,0.588l0.169,1.131l3.947,-0.588l0.403,2.7l-4.436,0.661l0.174,1.17l5.722,-0.852l-1.341,-9.001Z" style="fill-rule:nonzero;" />
      <path d="M63.576,108.708c0.255,-2.718 -1.348,-4.84 -3.794,-5.069c-1.463,-0.137 -2.731,0.436 -3.475,1.411l1.006,0.825c0.542,-0.759 1.424,-1.12 2.356,-1.033c1.683,0.158 2.753,1.695 2.561,3.74c-0.191,2.045 -1.541,3.354 -3.224,3.197c-0.906,-0.085 -1.656,-0.586 -2.046,-1.432l-1.141,0.611c0.559,1.136 1.637,1.89 3.074,2.025c2.446,0.229 4.429,-1.557 4.683,-4.275Z" style="fill-rule:nonzero;" />
      <path d="M51.763,102.096l-1.231,-0.418l-2.545,7.497l-2.512,-0.853l-0.38,1.12l6.253,2.123l0.381,-1.12l-2.511,-0.852l2.545,-7.497Z" style="fill-rule:nonzero;" />
      <path d="M45.311,99.374l-1.139,-0.627l-4.391,7.97l1.139,0.628l4.391,-7.971Z" style="fill-rule:nonzero;" />
      <path d="M38.768,94.948l-0.559,-0.465l-8.71,4.677l1.04,0.864l6.46,-3.538l-2.332,6.972l1.089,0.906l3.012,-9.416Z" style="fill-rule:nonzero;" />
      <path d="M33.475,89.847l-0.825,-1.005l-7.035,5.772l0.824,1.005l7.036,-5.772Z" style="fill-rule:nonzero;" />
      <path d="M29.435,84.142l-0.638,-1.133l-6.899,3.883l-1.301,-2.311l-1.031,0.58l3.239,5.755l1.031,-0.58l-1.301,-2.311l6.9,-3.883Z" style="fill-rule:nonzero;" />
      <path d="M16.156,78.329l-0.286,-1l-2.299,-1.181l0.415,1.45l2.17,0.731Zm10.189,-0.498l-1.611,-5.624l-1.137,0.326l1.253,4.374l-2.75,0.788l-1.098,-3.837l-1.1,0.315l1.098,3.837l-2.624,0.751l-1.235,-4.311l-1.137,0.325l1.593,5.562l8.748,-2.506Z" style="fill-rule:nonzero;" />
      <path d="M23.101,69.529c0.743,-0.976 1.161,-2.195 1.096,-3.441c-0.11,-2.091 -1.304,-3.265 -2.745,-3.189c-1.22,0.064 -2.128,0.879 -2.635,3.119c-0.372,1.594 -0.841,2.087 -1.477,2.121c-0.623,0.032 -1.303,-0.518 -1.366,-1.712c-0.041,-0.792 0.222,-1.483 0.661,-2.053l-0.965,-0.769c-0.581,0.824 -0.912,1.727 -0.85,2.908c0.093,1.779 1.302,2.978 2.652,2.908c1.155,-0.061 2.079,-0.825 2.586,-3.065c0.392,-1.713 0.877,-2.142 1.553,-2.177c0.727,-0.038 1.343,0.555 1.415,1.918c0.053,1.025 -0.353,1.971 -0.915,2.677l0.99,0.755Z" style="fill-rule:nonzero;" />
      <path d="M21.724,52.517c0.634,0.191 1.308,-0.149 1.51,-0.821c0.207,-0.684 -0.165,-1.34 -0.8,-1.532c-0.635,-0.191 -1.308,0.149 -1.514,0.833c-0.203,0.672 0.169,1.328 0.804,1.52Z" style="fill-rule:nonzero;" />
    </g>
  </g>
</svg>
